		<!-- ==============================================
		HEADER
		=============================================== -->
		<header id="home" class="jumbotron">

			<div class="row jedi">

				<div class="col-sm-8 col-sm-offset-2" style='padding-left:0px;'>

					<img class="img-responsive img-center scrollimation levitate tech head isTooltip" src="assets/img/levi/firefox.svg" data-title-en="I like lamp." alt="Firefox" />
					<img class="img-responsive img-center scrollimation levitate tech hand left isTooltip" src="assets/img/levi/grunt.svg" data-title-en="Grunt is great" alt="Grunt" />
					<img class="img-responsive img-center scrollimation levitate tech hand right isTooltip" src="assets/img/levi/hocus.png" data-title-en="Music + programming" alt="Hocus Pocus" />
					<img class="img-responsive img-center scrollimation levitate arnaud" src="assets/img/levi/levitation.svg" style="height: 300px;" alt="" />
					<span class="shadow"></span>

				</div>

			</div>

		</header><!--End header -->
