<!-- ==============================================
		ABOUT
		=============================================== -->
		<section id="about" class="white-bg padding-top-bottom">

			<div class="container">

				<header class="section-header text-center">

					<h1 class="scrollimation scale-in">{{ about.en.title }}</h1>

				</header>

				<div class="row">

					<div class="col-sm-8 col-sm-offset-2">

						<p class="text-center scrollimation fade-in">{{{ about.en.description }}}</p>

					</div>

				</div>

				<p class="text-center">
					<a class="btn btn-meflat icon-left" href="{{ about.en.cvLink }}" target="_blank"><i class="fa fa-file"></i>Download my Résumé</a><br/>
					<a class="btn btn-meflat scrollto icon-left" href="#contact"><i class="fa fa-arrow-down"></i>Hire Me</a>
				</p>

			</div>

		</section>
