<!-- ==============================================
		CONTACT
		=============================================== -->
		<section id="contact" class="dark-bg light-typo padding-top">

			<div class="container">

				<header class="section-header text-center">

					<h1 class="scrollimation scale-in">Drop Me a Line</h1>
					<p><a href="mailto:{{ contact.mail }}" class='light-typo'>{{ contact.mail }}</a></p>

				</header>

				<form  id="contact-form" class="bl_form text-center" action="contact.php" method="post" novalidate>
					<span class="field-wrap scrollimation fade-right">
						<label class="control-label" for="contact-name">Name</label>
						<input id="contact-name" name="contactName" type="text" class="label_better requiredField" data-new-placeholder="Name" placeholder="Name" data-error-empty="*Enter your name">
					</span>
					<span class="field-wrap scrollimation fade-in">
						<label class="control-label" for="contact-mail">Email</label>
						<input id="contact-mail" name="email" type="email" class="label_better requiredField" data-new-placeholder="Email Address" placeholder="Email Address" data-error-empty="*Enter your email" data-error-invalid="x Invalid email address">
					</span>
					<span class="field-wrap scrollimation fade-left">
						<label class="control-label" for="contact-message">Message</label>
						<textarea id="contact-message" name="comments" rows="1" class="label_better requiredField" data-new-placeholder="Message" placeholder="Message" data-error-empty="*Enter your message"></textarea>
					</span>

					<p class="text-center">
						<button  name="submit" type="submit" class="btn btn-meflat icon-left" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Message Sent"><i class="fa fa-location-arrow"></i>Send Message</button><br/>
						<a class="btn btn-meflat icon-left" href="cv/arnaud_babol.pdf"><i class="fa fa-file"></i>Download my Résumé</a>
					</p>
					<input type="hidden" name="submitted" id="submitted" value="true" />

				</form>

			</div>

		</section>
