<!-- ==============================================
      PROJECT PREVIEW MODAL (Do not alter this markup)
      =============================================== -->
      <div id="project-modal" class="modal fade">

        <div class="modal-dialog">

          <div class="modal-content">

            <div class="modal-header">

              <div class="container">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <h1 id="hdr-title" class="text-center"></h1>
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="image-wrapper">
                      <img class="img-responsive bgImg" src="assets/img/projects/chrome.png" alt="">
                      <div class="loader"></div>
                      <div class="screen"></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div id="project-sidebar" class="col-md-3">
                    <h2 id="sdbr-title"></h2>
                    <p id="sdbr-category"></p>
                    <p id="sdbr-date"></p>
                    <p id="sdbr-github"><a href="#github" target="_blank"></a></p>
                    <p id="sdbr-slides"><a href="#slides" target="_blank"></a></p>
                    <p id="sdbr-descr"></p>
                  </div>
                  <div id="project-content" class="col-md-8 col-md-offset-1">
                  </div>
                </div>

              </div>
            </div><!-- End modal-body -->

          </div><!-- End modal-content -->

        </div><!-- End modal-dialog -->

      </div><!-- End modal -->

    </section>
