/*******************************************
3ColorResume
Author: office@kamsolutions.pl
*******************************************/
/*******************************************
FONTS
*******************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
/*******************************************
SETTINGS
*******************************************/
@charset "utf-8";
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
/*******************************************
BODY
*******************************************/
body{
  font-family: 'Open Sans', Arial, Tahoma;
  font-weight: 400;
  font-size: 1em;
  color: #363636;
  background: #ededed;
}
a {
  color: #EC7263;
}
/*******************************************
CONTAINER
*******************************************/
.container{
  margin-top: 80px;
  margin-bottom: 15px;
  background: #fff;
}
/*******************************************
PHOTO (AVATAR)
*******************************************/
#photo-header {
  padding-left: 15px;
  float: left;
  text-align: left;
  padding-top: 13px;
}
#contact {
  width: 25%;
  float: right;
  text-align: right;
  margin-right: 42px;
}
#photo{
  margin-top: 3px;
  margin-bottom: 3px;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
  background: #ededed;
  display: inline-block;
}
#photo img{
  width: 98px;
  height: 98px;
  border-radius: 50%;
}
#text-header h1{
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
}
#text-header h1::first-line{
  font-size: 1.5em;
  letter-spacing: -4px;
  font-weight: 700;
  line-height: 1.5em;
}
#text-header h1 span{
  color: #F0563D;
}
#text-header h1 sup{
  opacity: 0.5;
}
#text-header:after{
  width: 100%;
  height: 3px;
  background: url(../img/line.png);
  margin-top: 15px;
  content: '';
  display: block;
}

#text-header h1 sup{
  opacity: 0.5;
}
/*******************************************
DEFAULT BOX
*******************************************/
.box{
  margin: 15px;
}
.box h2{
  color: #EC7263;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 4px 0;
}
.box h2:before{
  content: '//';
  margin-right: 5px;
}
.box .margin-top-about {
  margin-top: 0px;
}
.box p{
  font-size: 1.4em;
  line-height: 1.5em;
}
/*******************************************
ABOUT
*******************************************/
.about .description {
  font-size: 18px;
  text-align: center;
  margin: 0;
  font-weight: 400;
  margin: 16px 0;
  display: block;
}
.about .description strong {
  color: #F0563D;
  font-weight: 500;
}
.description a {
  color: #363636;
}

/*******************************************
CONTACT
*******************************************/
#contact .contact-item .title {
    font-size: 1.2em;
}

#contact .contact-item .description {
  font-size: 1em;
}

#contact .contact-item .icon {
    border-right: 0px solid #AAA;
    border-bottom: 0px solid #AAA;
    opacity: 1;
}
#contact .contact-item .description{
  opacity: 1;
}
#contact .contact-item .title{
  opacity: 1;
}
#contact .contact-item .icon{
  opacity: 1;
}
#contact .contact-item .fa {
  font-size: 1.6em;
}
#contact .contact-item .title.only {
  margin-top: 5px;
}
#contact .table {
  display: table;
  width: 100%;
  margin-top: 11px;
  margin-right: 0px !important;
}

#contact .row {
  display: table-row;
  margin: 0px !important;
}

#contact .cell {
  display: table-cell;
  margin: 0px !important;
  vertical-align: middle;
}
#contact .icon {
  padding: 0 0 0 40px;
}
#contact .icon i {
  padding-top: 1.5px;
  font-size: 16px !important;
  top: 1px;
}
#contact .contact-item .title{
  width: 100%;
  /*width: calc(100% - 22px);*/
  font-size: 1.3em;
  font-weight: 400;
}
/*******************************************
EDUCATION
*******************************************/
#education {
  margin-top: 20px;
  padding-right: 15px;
}

#education .education-text {
  font-size: 1.3em;
  margin-top: 8px;
  padding: 0;
  margin-left: 4px;
}
#education ul li {
  margin-bottom: 20px;
}

#education ul li:nth-child(2) {
  margin-top: 5px;
}
#education ul li:nth-child(3) {
  margin-top: -15px;
}
#education .col-xs-12 {
  margin: 7px 0;
}

/*******************************************
BOX JOB/PROJECTS
*******************************************/
.box .job .col-xs-3 {
  width: 26%;
  padding-left: 17px;
}

.box .job .col-xs-9 {
  width: 74%;
  padding-right: 0;
}

.box .job  {
  margin-left: -15px !important;
  margin-bottom: 20px;
}
.job .duration {
  color: grey;
  font-size: .8em;
}
.job .where{
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  top: -10px;
}
.job .year{
  font-size: 1.3em;
}
.job .profession{
  font-size: 1.6em;
  position: relative;
  top: 1px;
  font-weight: bold;
}
.job .profession a {
  font-size: 0.8em;
  font-weight: normal;
}
#experiences .job .profession a {
  position: relative;
  top: 3px;
}
.job .description{
  margin-top: 4px;
  font-size: 1.3em;
  line-height: 1.8em;
}
.job .tech {
  font-size: 1.2em;
}
.job .tech span {
  line-height: 18px;
}
.job .company-logo-container {
  display: flex;
}
.job .company-logo {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
  min-width: 30px;
  margin-right: 6px;
  border-radius: 4px;
  transition: transform .2s;
}
/*******************************************
CONTACT
*******************************************/
.contact-item{
  width: 100%;
  float: left;
}
.contact-item .icon{
  padding: 10px;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  opacity: 0.2;
}
.contact-item:last-child .icon{
  border-bottom: none;
}
.contact-item .fa{
  font-size: 2em;
}
.contact-item .title{
  width: 80%;
  width: calc(100% - 55px);
  font-size: 1.5em;
  font-weight: 700;
  opacity: 0.9;
}
.contact-item .title.only{
  margin-top: 10px;
}
.contact-item .description{
  width: 80%;
  width: calc(100% - 55px);
  font-size: 1.2em;
  opacity: 0.7;
}

/*******************************************
PROJECT
*******************************************/
#project .col-project-img {
  width: 59px;
  min-height: 60px;
  float: left;
  margin-right: 14px;
  text-align: center;
  margin-top: 10px;
}
#project .project:nth-child(2) .col-project-img {
  margin-top: 19px;
}
#project .project:nth-child(4) .col-project-img {
  margin-top: 13px;
}
#project .col-project-title {
  margin-left: 15px;
}
#project .tech {
  margin-top: 4px;
  margin-left: 72px;
}

#project .project {
  float:left;
  margin: 12px 0;
}
/*******************************************
MEETUP
*******************************************/
#meetup {
  margin-top: 20px;
  padding-left: 15px;
}
#meetup ul {
  margin-top: -2px;
}
#meetup ul b {
  font-size: 1.3em;
}
#meetup ul li {
  margin-bottom: 8px;
}
#meetup li {
  font-size: 1.3em;
}
/*******************************************
HOBBIES
*******************************************/
#hobbies {
  margin-top: 0px;
}
#hobbies h2 {
  margin-top: 2px;
  margin-bottom: 8px;
}
#hobbies .col-xs-12 {
  padding-left: 0;
  padding-right: 30px;
}
#hobbies .col-xs-2 {
  padding: 0;
  text-align: center;
}
/*******************************************
MEDIA
*******************************************/
@media (min-width: 500px) {
  #education .description{
    width: 85%;
  }
}
@media (min-width: 768px) {
  #education .description{
    width: 85%;
  }
}
@media (min-width: 992px) {
  #education .description{
    width: 87%;
  }
}
@media (min-width: 1200px) {
  #education .description{
    width: 90%;
  }
}

/*******************************************
CUSTOM
*******************************************/
.container {
  margin-bottom: 0;
}

.container, #photo-header {
  margin-top: 0px;
}

ul {
  padding-left: 20px;
  list-style-type: square;
  margin-bottom: 0;
}

.list-no-style {
  list-style: none;
  padding: 0;
}

h2 {
  margin: 3px 0 3px 0;
}
p {
  margin-bottom: 0;
}

.no-padding {
  padding: 0;
}

.right-link a {
  float: right;
}

.label {
  top: 1px;
  position: relative;
}
#robot-hidden {
  position: absolute;
  color: white;
  z-index:-1;
  font-size:1px;
  top:0;
  left:0;
}
